<div class="row py-3">
    <div class="col-12">
        <ul style="display: flex; margin-left: 360px">
            <li>
                <a class="nav-link active" href="/registration" style="color: white">&copy; Flappy 2021</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/registration" style="color: white">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/login" style="color: white">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/login" style="color: white">Developers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" style="color: white">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" style="color: white">Language</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" style="color: white">FAQ</a>
            </li>
        </ul>
    </div>
</div>