<!DOCTYPE html>
<html lang="en">
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #271a1a00;">
        <div class="container" style="width: 1200px;">
            <div style="float: left; width: 500px; display: flex">
                <a class="navbar-brand d-inline-block align-text-top" th:href="@{'/'}" style="color: #C4C4C4;">
                    <img src="https://logopond.com/logos/355b970c7fec5d7805f4dc17d183ec6f.png" alt="" width="48" height="48" style="border-radius: 24px">
                    <span  style="font-family: Arial; margin-left: 13px; ">Flappy</span>
                </a>
                <form class="d-flex" style="margin-top: 8px; margin-left: 100px">
                    <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search" style="padding-left: 20px; border-radius: 15px; height: 43px; background-color: #575757; border: none">
                </form>
            </div>

            <div style="width: 420px;">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAnonymous()" style="margin-left: -150px">
                        <li class="nav-item" style="margin-right: 90px">
                            <span style="font-size: 20px; color: #C4C4C4;">
                                <a class="nav-link active" th:href="@{'/'}" th:text="${'MAIN'}" style="color: #C4C4C4;"></a>
                            </span>
                        </li>

                        <li class="nav-item" style="margin-right: 80px">
                            <span style="font-size: 20px; color: #C4C4C4;">
                                <a class="nav-link active" th:href="@{'/login'}" th:text="${'LOG IN'}" style="color: #C4C4C4;"></a>
                            </span>
                        </li>

                        <li class="nav-item">
                            <span style="font-size: 20px; color: #C4C4C4;">
                                <a class="nav-link active" th:href="@{'/registration'}" th:text="${'CREATE NEW ACCOUNT'}" style="color: #C4C4C4;"></a>
                            </span>
                        </li>
                    </ul>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()">
                        <li class="nav-item" style="margin-right: 7px">
                            <a class="nav-link active" href="/profile">
                                <span style="font-size: 20px; color: #C4C4C4;">
                                    <i class="fas fa-home"></i>
                                </span>
                            </a>
                        </li>

                        <li class="nav-item" style="margin-right: 7px">
                            <a class="nav-link active" th:href="@{'/'}">
                                <span style="font-size: 20px; color: #C4C4C4;">
                                    <i class="fas fa-user-friends"></i>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-right: 7px">
                            <a class="nav-link active" th:href="@{'/login'}" >
                                <span style="font-size: 20px; color: #C4C4C4;">
                                    <i class="fas fa-newspaper"></i>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-right: 7px">
                            <a class="nav-link active" th:href="@{'/profile'}" >
                                <span style="font-size: 20px; color: #C4C4C4;">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span style="font-size: 20px; color: #C4C4C4;">
                                    <i class="fas fa-bell"></i>
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div style="width: 312px; color: white; float: right;" sec:authorize="isAuthenticated()">
                <form class="d-flex" style="float: right;">
                    <div style="display: flex">
                        <a class="nav-link active" th:href="@{'/profile'}" th:text="${CURRENT_USER.fullName}" style="color: #C4C4C4; margin-right: -7px">
                        </a>
                        <a th:href="@{'/profile'}" ><img th:src="${CURRENT_USER.avatar}" style="width: 32px; height: 32px;border-radius: 24px; margin-top: 4px" ></a>
                        <div class="nav-item dropdown" style="margin-left: -10px">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #C4C4C4">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </nav>
</div>
</html>