<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main2.html">

    <div layout:fragment="content">
        <div class="row">
            <div class="col-12 mx-auto">
                <form th:action="@{'/saveuser'}" method="post">
                    <div th:if="${user!=null}">
                        <input type="hidden" name="id"  th:value="${user.id}">

                        <div class="row mt-1" style="color: #C4C4C4">
                            <div class="col-5">
                                <h4 th:text="${'Full Name:'}"></h4>
                                <h4 th:text="${'Country:'}"></h4>
                                <h4 th:text="${'Email:'}"></h4>
                            </div>
                            <div class="col-7">
                                <h4 th:text="${user.fullName}"></h4>
                                <h4 th:text="${user.country}"></h4>
                                <h4 th:text="${user.email}"></h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn mt-3" style="margin-right: 15px">Save</button>
                            <button type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#deleteTaskModal">
                                Delete
                            </button>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="deleteTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="${'/deleteuser'}" method="post">
                                <input type="hidden" name="id" th:value="${user.id}">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Confirm Delete Process</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                    <button class="btn btn-danger">YES</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>